html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

.container_1000 {
  max-width: 1000px;
  margin: 0 auto;
}

.menu_inline {
  list-style: none;
}

.menu_inline li {
  display: inline;
  margin-right: 10px;
  text-transform: uppercase;
}

.menu_inline li a {
  text-decoration: none;
  color: black;
  font-size: 1.1em;
  font-weight: bold;
}

header {
  background-color: white;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  line-height: 80px;
  background-color: white;
}

.header_logo {
  vertical-align: middle;
  width: 80px;
}

.header_menu li {
  text-align: left;
  margin-right: 25px;
}

.header_menu_lang li:not(:last-child) {
  border-right: 1px solid black;
  padding-right: 10px;
}

.ico_hamburger {
  float: right;
  font-size: 3.7em;
  line-height: 80px;
  vertical-align: middle;
}

.lg_display_none {
  display: none;
}

.lg_display_block {
  display: block;
}

.video-container {
  position: relative;
  margin-top: 80px;
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 0;
}

.video-container-2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.jumbo_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  text-align: center;
  color: white;
  z-index: 2;
}

.jumbo_text h1 {
  font-size: 4.3em;
  margin-bottom: 1rem;
}

.jumbo_text p {
  font-size: 1.5em;
  margin-bottom: 1.8rem;
}

.jumbo_text img {
  padding: 0 7px;
}

/* INIZIO MAIN */
.bike {
  background-color: #fafafa;
  padding: 60px 0;
  text-align: center;
}

.bike img {
  width: 200px;
}

.link-prod {
  text-decoration: none;
  color: #0070c8;
}

.link-prod:hover {
  text-decoration: underline;
}

.text_v_center {
  line-height: 50px;
  vertical-align: middle;
}

.span {
  font-size: 20px;
  color: #0070c8;
  padding-left: 10px;
}

.p-tb {
  padding: 20px 0;
}

.m-tb {
  margin: 70px 0;
}

.m {
  margin: 20px;
}

.font_1_8 {
  font-size: 1.8em;
}

.p-20px {
  padding: 20px;
}

/* MAIN SLIDER */
.bg-slider {
  background-image: url(../img/HelbizBanner.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
  margin-bottom: 260px;
}

.container-slider {
  height: 760px;
  text-align: center;
}

.container-slider img {
  height: 770px;
  padding-top: 160px;
}

.container-slider h2 {
  padding-top: 550px;
  padding-left: 20px;
  font-size: 3.5em;
}

.container-slider h3 {
  padding-top: 550px;
  padding-left: 40px;
  font-size: 2.4em;
}

.container-slider p {
  padding-top: 20px;
  padding-left: 40px;
  font-size: 1.5em;
}

.text-left {
  text-align: left;
}

.box {
  height: 500px;
  background-image: url(../img/ScooterHelbiz-2400.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#box {
  color: #ffffff;
}

#box h2 {
  font-size: 4.4em;
}

#box p {
  font-size: 1.8em;
}

.box-1-p {
  padding-top: 160px;
  padding-left: 20px;
  padding-right: 120px;
}

.link-prod-2 {
  text-decoration: none;
  color: #ffffff;
}

.link-prod-2:hover {
  text-decoration: underline;
}

.text-align {
  text-align: center;
}

.span-2 {
  font-size: 20px;
  color: #ffffff;
  padding-left: 10px;
}

.box-2 {
  height: 600px;
  position: relative;
  background: linear-gradient(180deg, rgba(64, 85, 104, 1) 0%, rgba(37, 48, 57, 1) 57%);
  margin: 40px 0;
  padding-top: 50px;
}

.box-2 img {
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 300px;
  transform: translateX(-50%);
}

.box-3 {
  height: 600px;
  background-image: url(../img/Cities-1500.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 40px 0;
  padding-top: 50px;
}

.p-l-20 {
  padding-left: 20px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-r-20 {
  margin-right: 20px;
}

.social {
  position: relative;
  background-image: url(../img/Social-Banner.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 420px;
  margin-bottom: 40px;
  background-size: cover;
}

.container-social {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 50px 120px;
}

.container-social h2 {
  font-size: 2.8em;
  margin-bottom: 10px;
}

.container-social i {
  font-size: 3.2em;
  padding-right: 13px;
}

/* INIZIO FOOTER */
.bg-footer {
  background-color: #000000;
  padding: 20px 0;
}

.bg-footer h3 {
  color: #ffffff;
  text-transform: uppercase;
  padding-bottom: 20px;
  font-size: 1.6em;
}

.link-footer li a {
  background: none;
  line-height: 30px;
  font-size: 1.5em;
  font-weight: 400;
  text-decoration: none;
}

.link-footer-color li a {
  color: #696969;
}

.link-footer-color-2 li a {
  color: #ffffff;
  font-size: 1.2em;
}

.link-footer li {
  list-style: none;
}

.p-footer {
  padding: 90px 0 60px 0;
  border-bottom: 1px solid rgba(68, 68, 68, 0.87);
}

.icon-footer {
  text-align: left;
  color: #ffffff;
  font-size: 2em;
}

.white-link {
  color: #ffffff;
}

.icon-footer i {
  padding-right: 15px;
}

.app-icon {
  border: 1px solid #ffffff;
  width: 100px;
  border-radius: 5px;
}

.p-app a {
  padding-right: 20px;
}

@media screen and (max-width: 992px) and (min-width: 768px) {
  .header-top {
    padding: 0 2%;
  }

  .md_display_block {
    display: block;
  }

  .md_display_none {
    display: none;
  }

  .jumbo_text a {
    width: calc(100% / 4);
    display: inline-block;
  }

  .jumbo_text a img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }

  .xs_display_block {
    display: block;
  }

  .xs_display_none {
    display: none;
  }

  .header-top {
    padding: 0 2%;
  }

  .jumbo_text h1 {
    font-size: 3.5em;
    margin-bottom: 1rem;
  }

  .jumbo_text p {
    font-size: 2em;
    margin-bottom: 1.8rem;
  }

  .jumbo_text a {
    width: calc(100% / 3);
    display: inline-block;
  }

  .jumbo_text a img {
    width: 100%;
  }

  .m-tb {
    margin: 20px 0;
  }

  .container-slider {
    text-align: center;
  }

  .container-slider img {
    width: 330px;
    padding-top: 170px;
  }

  .box-1-p {
    padding-top: 170px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .bg-footer img,
  .logo-footer,
  .bg-footer h3,
  .link-footer {
    text-align: center;
  }

  .icon-footer {
    padding-bottom: 10px;
    text-align: center;
  }

  .bg-footer h3 {
    padding-top: 20px;
  }
}
